# Configurer des pages d'erreur personnalisées
ErrorDocument 404 /Site-GT_cars_institut/404.html
ErrorDocument 403 /403.html
ErrorDocument 500 /500.html

# Rendre un dossier public
<If "%{REQUEST_URI} =~ m#^/#">
    Require all granted
</If>

# Rendre un dossier privé
<If "%{REQUEST_URI} =~ m#^/private/#">
    Require all denied
</If>